{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{{app_name}}{% endblock %}

{% block content %}
<div class="section">
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Us
          <br class="hidden lg:inline-block"></h1>
        <p class="mb-8 leading-relaxed">The Dara knot is a symbol of unity and strength, originating from ancient Irish
          culture. In ancient Ireland, the Dara knot was used as a symbol of protection and was believed to bring good
          luck to those who wore it. The word is derived from the Old Irish word "dair" which also means oak
          tree.<br><br> The dara knot is also a nautical term for a type of knot used for securing gear during travel.
          The team behind this service is a group of fellow students from Code Institute. <br>We all share the
          experience of quality of our travels as a result of well thought out planning.<br>
          That is the reason we came up with the dara planner tool.
          <br><br>
          The development team for this project includes<br>
          Carmen Cantudo, Ian Buttimer, Nicklas Tanskanen and Dennis Jensen.
        </p>
        <div class="flex justify-center">

        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="{% static 'img/oaktree.jpg' %}">
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
