{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{{app_name}}{% endblock %}

{% block content %}

<div class="row">
  <div class="col l8 offset-s2">
    <img class="front_pic" src="{% static 'img/pic1.png' %}" class="responsive-img">
  </div> </div>
  <div class="col">
    <p class="flow-text">Welcome to The Dara Planner! <br><br>Your ultimate resource for planning and budgeting your next adventure.<br>Whether you're a seasoned traveler or <br>just starting to plan your first trip, our website is here to help you make the most of your budget and ensure that you have an amazing experience.</p>
  </div>
</div>



{% endblock %}
