{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{{app_name}}{% endblock %}

{% block content %}

<div class="row">
  <div class="s12 landing-img">
    <img src="{% static 'img/pic1.png' %}" class="responsive-img front_pic">
  </div>
</div>
<div class="container">
  <h1 class="center-align">Welcome to The Dara Planner!</h1>
  <p class="flow-text">Your ultimate resource for planning and budgeting your next adventure.</p>
  <p class="flow-text">Whether you're a seasoned traveler or just starting to plan your first trip, our website is here
    to help you make the most of your budget and ensure that you have an amazing experience.</p>
  <br>
</div>

{% endblock %}