body {
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
}

.front_pic {
    width: 100%;
}

.landing-img {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.logo-name {
    font-size: 40px;
}