{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{{app_name}}{% endblock %}

{% block content %}
<div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    {% if form.errors %}
        {% for field in form %}
            <ul>
                {% for error in field.errors %}
                <li>
                    <strong>{{ field.label }}:</strong> {{ error }}
                </li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
            </ul>
    {% endif %}

    <form action="{{ submit_url }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    {% for expense in expenses %}
        <form action="{{ expense.submit_url }}" method="post">
            {% csrf_token %}
            {{ expense.form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</div>

{% endblock %}
