{% load static %}
<div class="px-5">
<nav class="blue nav-extended">
    <div class="nav-wrapper">
      <a href="{% url 'base:landing' %}"><img src="{% static 'img/dara.png' %}" alt="logo" width="100" height="100"></a>
      <h1 class="white-text">The Dara Planner</h1>
      <ul class="right hide-on-med-and-down">
        <li class="tab"><a href="{% url 'base:landing' %}"><i class="material-icons">home</i>Home</a></li>
        <li><a href="{% url 'budget:budgets' %}"><i class="material-icons">assignment</i>Planner</a></li>
        <li><a href="{% url 'base:convert' %}"><i class="material-icons">attach_money</i>Convert</a></li>
        <li><a href="{% url 'base:links' %}"><i class="material-icons">insert_link</i>Useful Links</a></li>
        <li><a href="{% url 'base:about' %}"><i class="material-icons">info_outline</i>About Us</a></li>
      </ul>
    </div>
  </nav>
</div>